<div class="login-container">
    <img class="film" src="assets/images/film.png" alt="" />
    <div class="logo">Reel Raves</div>
    <div class="desc">
      ReelRaves: Your go-to source for top-notch movie recommendations! <br>
      As the premier online hub for movie and TV show reviews, 
      we offer fans a curated guide to the latest hits and misses. <br>
      Whether you're seeking suggestions or eager to share your own opinions, 
      ReelRaves is the perfect destination for movie enthusiasts.
    </div>
    <div class="login-form">
      <div class="form-group">
        <label for="uname">Username</label>
        <input
          type="text"
          name="uname"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <label for="pword">Password</label>
        <input
          type="password"
          name="pword"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
      <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button class="btn btn-dark" (click)="login()">Login</button>
      </div>
    </div>
</div>